*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(16, 15, 23);
    padding-bottom: 100px;
}

html {
    scroll-behavior: smooth;
  }
:target {
scroll-margin-top: .8em;
}

.topic-title {
    font-size: 2em;
    color: beige;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    user-select: none;
}


